extends layout

block scripts
  script
    var data = !{officials};

block content
  div#content
    ul.filter-container
      li.filter.party Party:
      li.filter.position Position:
    div.official-list
  include js-templates.html
