extends layout

block scripts
  script
    var data = !{officials};

block content
  div#content
    div.filter-container
      div.filter.party Party:
      div.filter.position Position:
  include js-templates.html
