extends layout

block scripts
  script
    var data = !{officials};

block content
  div#content
    ul.filter-container
      li.filter.party
        span Party:
      li.filter.position
        span Position:
    div.official-list
  include js-templates.html
