extends layout

block scripts
  script
    var officials = !{officials};

block content
  div#content
    div.filter-container
      div.filter.party Party:
      div.filter.position Position:
    div.official-list
  include js-templates.html
