<script class="officialTemplate" type="text/template">
  <h2><%= firstName %> <%= lastName %>, 
    <% var partyName; %>
    <% (party === 'R') ? partyName = 'Republican' : partyName = 'Democrat' %>
    <span><%= partyName %></span>
  </h2>
  <ul>
    <li class="position"><%= positionAlias %></li>
    <li class="sm twitter">
      <% if(twitter && twitter !== '') { %>
        <a href="http://twitter.com/<%= twitter %>">
          <b class="icon">Twitter:</b>
          @<%= twitter %>
        </a>
      <% } else { %>
        <b class="icon">Twitter:</b>
        None on record
      <% } %>
    </li>
    <li class="sm facebook">
      <% if(facebook && facebook !== '') { %>
        <a href="http://facebook.com/<%= facebook %>">
          <b class="icon">Facebook:</b>
          facebook.com/<%= facebook %>
        </a>
      <% } else { %>
        <b class="icon">Facebook:</b>
        None on record
      <% } %>
    </li>
  </ul>
</script>
