@import "reset"
@import "variables"

// globals
html
  font-family: $font_family
  a
    color: $link_color
  body
    background: $pale_gray

// utility classes
span.button
  display: block
  overflow: hidden
  margin: 0 0 7px 0
  border: $border
  color: $text_color
  background-color: $pale_gray 
  border-radius: 3px
  $pale_gradient()
  font-weight: bold
  text-align: center
  text-decoration: none
  vertical-align: middle
  line-height: 32px
  height: 32px
  cursor: pointer

  &:hover
    cursor: pointer

header
  width: 960px
  margin: 0 auto
  border-bottom: $border
  padding: 20px 0 10px 0

  h1 a
    font-weight: bold
    text-decoration: none
    font-size: 18px

  span
    display: block
    font-weight: normal
    font-size: 14px
    color: $secondary_text

#content
  width: 960px
  margin: 0 auto
  position: relative

  .filter-container
    position: absolute
    right: 0
    margin-top: -35px
    font-size: 12px
    color: $secondary_text

  .filter
    display: inline-block
    margin-left: 5px

    select
      margin-left: 5px

  article
    border-bottom: $border
    padding: 5px 0

    h2
      font-weight: bold

      span
        font-weight: normal

    ul
      list-style: none

      li
        font-size: 14px
        margin-bottom: 3px

        &.sm
          font-size: 13px

        a
          text-decoration: none

        b.icon
          display: inline-block
          width: 16px
          height: 16px
          background: url('/images/sm_icons.png') no-repeat 0 -16px;
          text-indent: -5000px

        &.facebook
          b.icon 
            background-position: 0 0;

@media only screen and (max-width: 960px)
  body
    padding: 0 10px

  header, #content
    width: 100%

  #content

    .filter-container
      margin-top: -55px

    .filter
      display: block
      text-align: right

      span
        display: none
